TERMIN_URL=
SENDER_EMAIL=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_CONFIGURATION_SET=
EMAIL_IDS=
TELEGRAM_BOT_TOKEN=
MAXIMUM_ENTRIES=
DEBUG=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
TEST_DB_HOST=
TEST_DB_PORT=
ADMIN_ID=
ALLOWED_DOMAINS=
LOG_DIR=
ALERT_COOLDOWN_MINUTES=
